.mcm_input{
	display: block;
	margin-bottom: 20px;
	padding: 15px;
}
#mcm_input{
	float: left;
	margin-right: 50px;
}
#mcm_bnt{
	display: block;
}
.featured_player_img{
	width: 200px;
}
.featured_player_img img{
	width: 200px;
}

#active_mcm{
	float: left;

}
.not_there_suvbc{
	display: none;
}
#mcm_img_button{
	border-radius: 20px;
	border: 1px solid #EA7809;
	padding: 10px;
	width: 100px;
	text-align: center;
	margin-bottom: 10px;
}
.mcm_bnt{
	border-radius: 20px;
	border: 1px solid #EA7809;
	padding: 10px;
	width: 100px;
	text-align: center;
	margin-bottom: 10px;
}
#mcm_response{
	display: none;
	color: #00ff00;
	font-family: 'Exo 2', sans-serif !important; 
	font-size: 20px;


}